/venv/lib/python3.6/site-packages/
/.idea/
/DataStructures/.ipynb_checkpoints/
/venv/bin/activate
/venv/bin/activate.csh
/venv/bin/activate.fish
/venv/bin/easy_install
/venv/bin/easy_install-3.6
/venv/bin/f2py
/venv/bin/f2py3
/venv/bin/f2py3.6
/venv/bin/nosetests
/venv/bin/nosetests-3.4
/venv/bin/pip
/venv/bin/pip3
/venv/bin/pip3.6
/venv/bin/python
/venv/bin/python3
/venv/bin/python3.6
/venv/man/man1/nosetests.1
/venv/lib64/
/venv/pyvenv.cfg
/venv/WalterandJesse.py
/venv
